/*ce bloc permet de fixer une largeur incluant
contenu-padding-bordure à tous élement de la page*/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(137, 221, 193);
  display: grid;
  grid-template-areas:
    "header "
    "main "
    "footer ";
  grid-template-columns: 1fr;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

.firstPara {
  color: rgb(77, 58, 34);
  font-size: large;
}
.secondPara {
  color: rgb(100, 1, 1);
  font-size: larger;
}

img {
  border-radius: 100px;
  padding: 50px;
}

h1 {
  text-align: center;
}

.Hobbies {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 5px solid rgb(60, 122, 81);
  gap: 30px;
}
@media (min-width: 768px) {
  .Hobbies {
    flex-direction: row;
    justify-content: space-between;
  }
}
.Hobbies,
.Contact {
  list-style-type: none;
}
